<div class="pure-menu pure-menu-horizontal" style="height:2em;">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="" id="menuLink2" class="pure-menu-link">
              <p style="display:inline;overflow:hidden;text-overflow:ellipsis;">
                Accounts - {{AccountsList}}
              </p>
            </a>
            <ul class="pure-menu-children">
              {{#each this.Accounts}}
                <li class="pure-menu-item"><a href="" class="pure-menu-link">{{handle}}</a></li>
              {{/each}}
            </ul>
        </li>
    </ul>
</div>
