<div class="pure-menu pure-menu-horizontal" style="height:2em;">
    <ul class="pure-menu-list" style="width:100%;pointer-events:none;">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover" style="width:100%;pointer-events:none;">
            <a href="#" id="menuLink2" class="pure-menu-link" style="pointer-events:all;">
              <p style="display:inline;overflow:hidden;text-overflow:ellipsis;">
                Accounts - Batman, Yeahcat, Wowzuuz, Godzilla99, DJFuckz
              </p>
            </a>
            <ul class="pure-menu-children" style="width:100%;pointer-events:none;">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" style="pointer-events:all;">Batman</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" style="pointer-events:all;">Yeahcat</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" style="pointer-events:all;">Wowzuuz</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" style="pointer-events:all;">Godzilla99</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" style="pointer-events:all;">DJFuckz</a></li>
            </ul>
        </li>
    </ul>
</div>
