<!-- <div class="pure-g">
  <div class="pure-u-1-4">[F]</div>
  <div class="pure-u-3-4">BobDungles</div>
</div>

<div class="pure-g">
  <div class="pure-u-1-4">[T]</div>
  <div class="pure-u-3-4">BillyJohnDaisy</div>
</div>

<div class="pure-g">
  <div class="pure-u-1-4">[T]</div>
  <div class="pure-u-3-4">DoGoodMarket</div>
</div>

<div class="pure-g">
  <div class="pure-u-1-4">[T]</div>
  <div class="pure-u-3-4">OrganicPimpMaster</div>
</div> -->

<div class="collections" style="padding:1em;max-height:16em;overflow-x:hidden;overflow-y:scroll;">
  {{#each this.Collections}}
    <div style="padding-top:1em;padding-bottom:1em;">
      <div class="pure-g center">
        <div class="pure-u-1-4"><img src="{{network_icon}}" class="collections_icon" style="margin:auto;width:3em;height:3em;"></div>
        <div class="pure-u-3-4 left"><h4 style="margin-top:1em;margin-bottom:0;">{{handle}}</h4></div>
      </div>

      <div class="pure-g">
        <div class="pure-u-1-4"></div>
        <div class="pure-u-3-4">{{content}}</div>
      </div>
    </div>
  {{/each}}
</div>
