<div class="pure-g pure-u-1-1" style="margin-top:3em;">
  <div data-id="sv:context:ui:interactions:selectors"></div>
</div>

<div class="pad"></div>
<div class="pad"></div>

<div class="pure-g pure-u-1-1">
  <div data-id="sv:context:ui:interactions:accounts"></div>
</div>

<div class="pad"></div>
<div class="pad"></div>

<div class="pure-g pure-u-1-1">
  <div data-id="sv:context:ui:interactions:collections"></div>
</div>
