<div class="pure-g pure-u-1-1">
  <!-- Row One -->
  <div class="pure-g center toolbar">

    <div class="pure-u-1-6"></div>

    <div class="pure-u-2-3">
      <div class="pure-g ui center">
        <div class="pure-u-1-8"></div>
        <div class="pure-u-3-4">
          <h2>Login</h2>
          <form>
            <div><b>User Name: </b><input type="text" data-id="sv:data:username"></input></div>
            <div><b>Password: </b><input type="password" data-id="sv:data:password"></input></div>
            <div><b>Keypair File: </b><input type="file" data-id="sv:data:keypair_file"></input></div>
            <input type="submit" data-id="sv:data:submit">
          </form>
        </div>
        <div class="pure-u-1-8"></div>
      </div>

      <div class="pad"></div>
      <div class="pad"></div>
      <div class="pad"></div>

      <div class="pure-g ui center">
        <div class="pure-u-1-8"></div>
        <div class="pure-u-3-4">
          <h2>Create</h2>
          <form>
            <div><b>User Name: </b><input type="text" data-id="sv:data:username"></input></div>
            <div><b>Password: </b><input type="password" data-id="sv:data:password"></input></div>
            <div><b>Verify Password: </b><input type="password" data-id="sv:data:password_verify"></input></div>
            <div><b>Generate Keypair File: </b><input type="checkbox" data-id="sv:data:keypair"></input></div>
            <input type="submit" data-id="sv:data:submit_create">
          </form>
        </div>
        <div class="pure-u-1-8"></div>
      </div>

    </div>

    <div class="pure-u-1-6"></div>

  </div>
  <!-- End Row One -->
</div>
