<div class="pure-g pure-u-1-1">

  <!-- Row One -->
  <div class="pure-g center">
    <div class="pure-u-1-1">
      <h3 style="margin:0;margin-top:1em;">Realtime Hits</h3>
    </div>

  </div>
  <div class="pure-g center">
    <div class="pure-u-1-12"></div>
    <div class="pure-u-5-6">
      <canvas class="graph" data-id="sv:context:ui:graph" resize></canvas>
    </div>
    <div class="pure-u-1-12">
    </div>
  </div>
  <!-- End Row One -->

  <div data-id="sv:context:ui:realtime:stats"></div>
</div>
