<div class="pure-g pure-u-1-1">

  <!-- Row One -->
  <div class="pure-g center">
    <div class="pure-u-1-1">
      <h3 style="margin:0;margin-top:1em;">Realtime Hits</h3>
    </div>

  </div>
  <div class="pure-g center">
    <div class="pure-u-1-16"></div>
    <div class="pure-u-7-8">
      <canvas class="graph"></canvas>
    </div>
    <div class="pure-u-1-16"></div>
  </div>
  <!-- End Row One -->

  <!-- Row Two -->
  <div class="pure-g center">

    <div class="pure-u-1-2">
      <div class="pure-g ui center">
        <div class="pure-u-1-1">
          <!-- <div class="icon-flat_message icon-small icon" data-id="toolbar:messages"></div> -->
          <div style="margin-top: 10px; margin-bottom: 10px;">Hits/Minute - 0</div>
          <div style="margin-top: 10px; margin-bottom: 10px;">Total Hits - 0</div>
        </div>
      </div>
    </div>

    <div class="pure-u-1-2">
      <div class="pure-g ui center">
        <div class="pure-u-1-1">
          <!-- <div class="icon-flat_message icon-small icon" data-id="toolbar:messages"></div> -->
          <div style="margin-top: 10px; margin-bottom: 10px;">Interactions/Day - 0</div>
          <div style="margin-top: 10px; margin-bottom: 10px;">Total Interactions - 0</div>
        </div>
      </div>
    </div>

  </div>
  <!-- End Row Two -->

</div>
