<div class="pure-menu pure-menu-horizontal" style="height:2em;">
    <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
            <a href="#" id="menuLink1" class="pure-menu-link">
              <p style="display:inline;overflow:none;text-overflow:ellipsis;">
                Selectors - {{SelectorsList}}
              </p>
            </a>
            <ul class="pure-menu-children">
              {{#each this.Selectors}}
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">{{key}}</a></li>
              {{/each}}
            </ul>
        </li>
    </ul>
</div>
