<div class="pure-menu pure-menu-horizontal" style="height:2em;">
    <ul class="pure-menu-list" style="width:100%;pointer-events:none;">
        <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover" style="width:100%;pointer-events:none;">
            <a href="#" id="menuLink1" class="pure-menu-link" style="pointer-events:all;"><p style="display:inline;overflow:none;text-overflow:ellipsis;">Selectors - Amazing Stuff, Oh yeah</p></a>
            <ul class="pure-menu-children" style="width:100%;pointer-events:none;">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" style="pointer-events:all;">Amazing Stuff</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" style="pointer-events:all;">Oh yeah</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link" style="pointer-events:all;">@peoples_voice</a></li>
            </ul>
        </li>
    </ul>
</div>
